body{
	margin: 0;
	padding: 0;
}     
a, p{
	color: #383033;
	font-family: "Josefin Sans", sans-serif;
}    
h1, h2{         
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-align: center; 
	color: #fff;
}
h3{            
	margin: 0;
	padding: 0;
	font-family: "Alegreya Sans", sans-serif;
	color: #fff;        
			text-align: center;
			letter-spacing: 1.5px; 
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
} 
.contenido{
	overflow: hidden;
}
/*** Menu ***/
#menu{
	width: 100%; 
	margin-top: 0px;
	height: 140px;
	background-color: white;
	position: fixed;     
	z-index: 99999;  
	top: 0;
}               
#menu #line{
	width: 100%;
	height: 10px;
	background-color: #333333;
	margin-bottom: 22px;
}
#menu #content{
	width: 1100px;
	margin: 0 auto;
}
#menu #content #logo{    
	display: inline-block;
	vertical-align: top;
	background-image: URL("imagenes/logo.png");
	width: 156px;
	height: 156px;
}
#menu #content #navegacion{
	width: 720px;
	padding-left: 0px;
	margin-top: 0px;
	display: inline-block;		
	list-style-type: none;
}               
#menu #content #navegacion div{
	width: 455px;
	margin: 0 auto;
}
#menu #content #navegacion li{
	display: inline-block;
	height: 100px;                                      
	background-repeat: no-repeat;
	background-position: 50% 60%;                     
	background-color: white;        
	vertical-align: top;
}
#menu #content #navegacion li.arrowed{
	background-image: URL("imagenes/flecha_abajo.png");
}
#menu #content #navegacion li a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;     
	text-align: center;      
	margin-top: 60px;    
	line-height: 12px;
	padding-top: 18px;
	
}
#menu #content #navegacion li:hover a{
	color: gray;
}
#menu #content #navegacion li.nav_separador{
	width: 40px;
	background-image: URL("imagenes/punto.png");
	background-position: 100% 80px;
	background-repeat: no-repeat;   
	height: 100px;
}     
#menu #content #social{
	display: inline-block;
	float: right;
	vertical-align: top;
	width: 170px;
	margin-top: 50px;
	height: 45px;
}       
#menu #content #social li.social{
	display: inline-block;
	width: 38px;
	height: 38px;
	background-image: URL("imagenes/social4.jpg");
	background-position: -2px 0px;
	background-repeat: no-repeat;
}
#menu #content #social li#facebook{
	background-position: -48px 0px;
}      
#menu #content #social li#twitter{
	background-position: -94px 0px;
}              
#menu #content #social li#google{
	background-position: -140px 0px;
}              
#encabezado{
	padding-top: 140px;
	width: 100%;
	height: 590px;      
	background-color: #eaeae4;
}     
#encabezado #imagen{
	background-image: URL("imagenes/encabezado.png");
	width: 1200px;
	height: 590px;
	margin: 0 auto;
}            
.titulo{
	width: 100%;
	height: 140px;
	background-color: #ad9844;
}
.titulo.black{
	background-color: #383033;
	color: white;
}
.titulo h1{
	font-size:48px;  
	padding-top: 40px;
	line-height: 45px;
	padding-bottom: 10px;
}         
.titulo h3{
	letter-spacing: 3px;
}
.contenido p{
	display: block;
	padding-top: 57px;
	width: 890px;
	color: #383033;
	margin: 0 auto;
	font-weight: 600;
	font-size: 24px;    
	text-align: center;
	letter-spacing: 1px;
	line-height: 30px;
	padding-bottom: 70px;
}          
#galeria{
	background-color: #eaeae4;
}       
#galeria-container{
	width: 1100px;
	height: 650px;
	margin-left:auto;
	margin-right: auto;
	background-color: white; 
	margin-top: 30px;  
	margin-bottom: 30px;
}
#galeria-imagenes{                                        
	width: 1080px;
	height: 640px;
	margin: auto;        
	
}      

/* Slider */             

#galeria-imagenes { 
	position: relative; 
	overflow: hidden; 
}
#galeria-imagenes #slider { 
	list-style: none; 
	overflow: hidden;
	height: 640px;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
	-webkit-padding-start: 0px;
}  

#galeria-imagenes #slider li { 
	display: inline-block;
	float: left; 
	width: 1080px;
	height: 640px; 
	margin-top: 10px;
	background-repeat: no-repeat;
}              
#galeria-imagenes #puntitos{
	list-style: none;          
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
	-webkit-padding-start: 0px;
	width: 137px;
	height: 30px;
	margin-top: 600px;
	margin-left: 475px;
	background-image: URL("imagenes/botonera.png");
	position: absolute;  
	padding-left: 10px;

}  
#galeria-imagenes #puntitos li{
	width: 11px;
	height: 11px;
	display: inline-block;
	background-image: URL("imagenes/punto.png");
	background-position-x: -16px;
	margin-left: 2px;
	margin-top: 10px;
	cursor: pointer;
}
#galeria-imagenes #puntitos li:hover, #galeria-imagenes #puntitos li.active{
	background-position-x: 0px;
}
a.unslider-arrow{
	position:absolute;
	top: 305px;       
	z-index: 20000; 
	width: 62px;
	height: 62px;  
	background-image: URL("imagenes/flechas-slider.png"); 
	background-repeat: no-repeat;
	background-size: 210% 100%;
}
a.unslider-arrow.prev{
	left: 4px;
}
a.unslider-arrow.next{
	right: 8px;      
	background-position: -67px;
}
/* Diapositivas */
#slide1{
	background-image: URL("imagenes/1.png");
}    
#slide2{
	background-image: URL("imagenes/2.jpg");
}
#slide3{
	background-image: URL("imagenes/3.jpg");
}        
#slide4{
	background-image: URL("imagenes/4.jpg");
}  
#slide5{
	background-image: URL("imagenes/5.jpg");
}
#slide6{
	background-image: URL("imagenes/6.jpg");
}        
#slide7{
	background-image: URL("imagenes/7.jpg");
}  
#slide8{
	background-image: URL("imagenes/8.jpg");
}
#slide9{
	background-image: URL("imagenes/9.jpg");
}        
#slide10{
	background-image: URL("imagenes/10.jpg");
}  
#slide11{
	background-image: URL("imagenes/11.jpg");
}
#slide12{
	background-image: URL("imagenes/12.jpg");
}
#mapa-ubicacion{
	width: 100%;
	height: 500px;  
	cursor: pointer;
   /* pointer-events: none!important;*/ 
}      
#mapa-ubicacion {
}

#novedades .contenido{
	height: 400px;
	text-align:center;
}

#novedades .contenido .centra_contenido{
	margin: 0 auto;
	width: 810px;
}

#novedades .contenido #novedad {
	float: left;
	width: 250px;
	padding: 10px;
}

#novedades .contenido #novedad p{
        display: block;
        padding-top: 10px;
        width: 230px;
        color: #383033;
        margin: 0 auto;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 30px;
        padding-bottom: 70px;
}

#contacto{
	background-color: #383033;
}                                     
#contacto .contenido{
	height: 650px;
}
#contacto input[type="text"], #contacto textarea{       
	display: block;
	width: 1080px;
	height: 73px;
	background-color: #383033;
	color: white;
	font-family: "Alegreya Sans", sans-serif;
	font-size: 14px;  
	font-weight: 300;
	font-style: italic;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 17px;
	padding-left: 20px;  
	letter-spacing: 3px;
}
#contacto textarea{
	padding-top: 20px;
	height: 185px;
	min-height: 185px;
	max-height: 185px;
}   
#contacto #enviar{
	display: block;
	width: 1100px;
	height: 16px;
	border: none;
	background-color: #383033;
	color: white; 
	font-family: "Alegreya Sans", sans-serif;
	font-size: 14px;  
	font-weight: 300;
	font-style: italic;  
	text-align: right;
	margin-left: auto;
	margin-right: auto;     
	letter-spacing: 3px; 
	cursor: pointer;
}
#contacto form{
	padding-bottom: 60px;
}  
#footer{     
	padding-top: 35px;           
	height: 51px;
	background-color: #ad9844;
	
	color: white; 
	font-family: "Alegreya Sans", sans-serif;
	text-align: center;
}
#footer h3{
	font-size: 21px;
	font-style: italic;
	font-weight: 300;
}
